---
import { formatTimestamp } from '../utils/post'

export type Props = {
  title: string;
  pubDate: number;
  link: string;
  subtitle: string | undefined;
  poster: string | undefined;
};

const { title, pubDate, link, subtitle, poster } = Astro.props;
---

<a href={link}>
  <div class="card glass">
    <figure>
      <img src={poster} alt={title} />
    </figure>
    <div class="card-body">
      <small>{formatTimestamp(pubDate)}</small>
      <h2 class="card-title">{title}</h2>
      {subtitle && <p>{subtitle}</p>}
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Read it!</button>
      </div>
    </div>
  </div>
</a>
